.box_user {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    padding-top: 20px;
}

.box_user h2 {
    text-align: center;
}

.box_user p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.comment_overview {
    display: grid;
    grid-template-columns: auto 2fr;
    margin-bottom: 20px;
}

.comment_overview p {
    margin-left: 20px;
    margin-top: 20px;
}

.comment_overview img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.user_header {
    display: block;
    border-bottom: 1px solid gray;
}

.user_img {
    display: block;
    place-content: center;
}

.user_img img {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.user_info h3 {
    text-align: center;
}

.user_info p {
    margin-bottom: 10px;
}

@media(min-width: 800px) {
    .user_header {
        display: grid;
        grid-template-columns: 2fr 4fr;
        gap: 10px;
        border-bottom: 1px solid gray;
    }

    .user_img {
        display: grid;
    }

    .user_info h3 {
        text-align: left;
    }
}